<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://brandingaddinweb20160226101813.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <DesktopBuildPackageLocation>$(PackageFileName)</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/$(WebApplicationName)</DeployIisAppPath>
    <PublishDatabaseSettings />
  </PropertyGroup>

  <ItemGroup>
  <MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>040e558a-8859-4f8d-a39e-bc959c2d92af</DefaultValue>
            <Value>040e558a-8859-4f8d-a39e-bc959c2d92af</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>93aWsdHZefG2obHHnlLOBWGj2tV9/9cOf7dKDe9LOrk=</DefaultValue>
            <Value>93aWsdHZefG2obHHnlLOBWGj2tV9/9cOf7dKDe9LOrk=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
</Project>